<!doctype html>
<html lang="en">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <link rel="stylesheet" href="/css.css" />

    <title>test</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/core.js"></script>
    
  </head>
  <body>
    <%- body %>
  </body>
</html>

